<%- include('layouts/header'); -%>
<form method="post">
    <input type="text" name="title">
    <br>
    <textarea cols="30" rows="7" name="body"></textarea>
    <button type="submit">Submit</button>
</form>
<%- include('layouts/footer'); -%>