<% include layouts/header.ejs %>
<div class="main">
<div class="container">
    <div class="content">
        <div class="post">
            <div class="top">
                <h2>Post title</h2>
            </div>
            <div class="body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget volutpat mauris, et
                    semper lacus. Donec ultrices urna nisl, vitae consequat est tempus non. Phasellus mollis
                    commodo eleifend. Duis tincidunt faucibus nibh, eget condimentum lorem eleifend et. Nunc
                    finibus justo est, ullamcorper consectetur risus viverra sed. Nunc vitae leo pharetra,
                    posuere quam quis, lobortis erat. Integer hendrerit euismod ipsum, eget ultrices elit
                    rhoncus ac. Vestibulum tristique massa sit amet rhoncus mollis. Suspendisse turpis odio,
                    blandit non justo ac, mattis tempus risus. Praesent at egestas dolor.</p>
            </div>
            <div class="bottom">
                <div class="author">
                    Author: <a href="/">Lorem </a> </div>
                <a href="/">Comments</a>
            </div>
        </div>
        <div class="post">
            <div class="top">
                <h2>Post title</h2>
            </div>
            <div class="body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget volutpat mauris, et
                    semper lacus. Donec ultrices urna nisl, vitae consequat est tempus non. Phasellus mollis
                    commodo eleifend. Duis tincidunt faucibus nibh, eget condimentum lorem eleifend et. Nunc
                    finibus justo est, ullamcorper consectetur risus viverra sed. Nunc vitae leo pharetra,
                    posuere quam quis, lobortis erat. Integer hendrerit euismod ipsum, eget ultrices elit
                    rhoncus ac. Vestibulum tristique massa sit amet rhoncus mollis. Suspendisse turpis odio,
                    blandit non justo ac, mattis tempus risus. Praesent at egestas dolor.</p>
            </div>
            <div class="bottom">
                <div class="author">
                    Author: <a href="/">Lorem </a> </div>
                <a href="/">Comments</a>
            </div>
        </div>
    </div>
    <% include layouts/sidebar.ejs %>
</div>
<% include layouts/footer.ejs %>