<% include C:\Users\ion\Desktop\VSCode\NodeExpress\layouts/header.ejs %>
<a href="/create">Add</a>
<ul>
    <% posts.forEach(function(post){%>
    <li>
        <b>
            <%=post.title%>
        </b>
        <br>
        <%=post.body%>
    </li>
    <br>
    <%})%>
</ul>
<% include C:\Users\ion\Desktop\VSCode\NodeExpress\layouts/footer.ejs %>